* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.header {
  margin: 15px 100px;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header-logo-container {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 80px;
  border-radius: 80px;
  margin-right: 20px;
}

.header-name {
  font-family: VGeneva, Tahoma, sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.nav-content {
  display: flex;
}

.nav-content li {
  margin: 0 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.nav-content li:hover {
  font-size: 20px;
  cursor: pointer;
  color: rgb(234, 199, 0);
}
