* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.header-logo-container {
  display: flex;
  width: 200px;
  margin: 20px 10px;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 80px;
  border-radius: 80px;
  margin: 0 10px;
}

.header-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
